.main-button {
  margin-top: 10px;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: hsl(55, 100%, 50%);
  color: black;
  font-weight: bold;
  }